# Classification
prever em qual classe um dado de entrada est√°

In [56]:
import tensorflow_datasets as tfds
import tensorflow as tf
import pandas as pd
import numpy as np

In [73]:
data_set = tfds.as_dataframe(tfds.load('iris', split='train'))

feature_columns = ["sepal-length", "sepal-width","petal-lengt", "petal-width"]

features = pd.DataFrame(data=np.array(data_set["features"].to_list()), columns=feature_columns)
labels = data_set["label"]

train_x = features[:120]
train_y = labels[:120]

test_x = features[120:]
test_y = labels[120:]

In [72]:
train_x.head()

   sepal-length  sepal-width  petal-lengt  petal-width
0           5.1          3.4          1.5          0.2
1           7.7          3.0          6.1          2.3
2           5.7          2.8          4.5          1.3
3           6.8          3.2          5.9          2.3
4           5.2          3.4          1.4          0.2

In [74]:
train_y.head()

0    0
1    2
2    1
3    2
4    0
Name: label, dtype: int64

In [75]:
test_x.head()

     sepal-length  sepal-width  petal-lengt  petal-width
120           4.4          3.2          1.3          0.2
121           4.9          3.1          1.5          0.1
122           7.7          2.6          6.9          2.3
123           5.0          3.4          1.5          0.2
124           6.0          2.7          5.1          1.6

In [76]:
test_y.head()

120    0
121    0
122    2
123    0
124    1
Name: label, dtype: int64